@import "./style.css";

#mobile-icons {
  display: none;
}

.icon {
  width: calc(var(--def-space) * 1.75);
}

.custom-logo {
  width: clamp(40px, 10vw, 55px);
  aspect-ratio: 648/413;
}

.main-navigation {
  display: block;
}

.main-navigation ul {
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: var(--def-space);
  color: var(--black);
}

.main-navigation ul a {
  color: var(--black);
}

.main-navigation ul a:visited {
  color: var(--black);
}

.main-navigation ul a:hover,
.main-navigation ul a:focus,
.main-navigation ul a:active {
  color: var(--hover);
}

#menu-toggle {
  display: flex;
}

.main-navigation ul {
  display: flex;
}

@media (max-width: 580px) {
  .main-navigation ul {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    background-color: var(--menu-bg);
    bottom: 0;
    left: 0;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 6px;
    z-index: 999;
  }

  .main-navigation ul a {
    display: flex;
    flex-direction: column; 
    padding: 0;
    margin: 0;
  }

  .main-navigation ul a span {
    display: inline;
    color: var(--menu-text-color);
    text-align: center;
    font-size: calc(var(--def-space) * 0.6);
  }

  ul,
  ol {
    margin: 0;
  }

  #mobile-icons {
    display: inline;
    margin-inline: auto;
    width: clamp(15px, 5vw, 25px);
    padding: 0;
    margin-bottom: calc(var(--def-space) * 0.25);
    aspect-ratio: 1/1;
  }
}
/* .toggled div {
  position: relative;
  gap: 0.5rem;
} */

/* .toggled div ul {
  position: absolute;
  top: 100%;
  width: 100%;
  left: -3rem;
  border-radius: 0.5rem;
  z-index: 2;
  color: var(--white);
} */

.toggled div ul li a {
  color: var(--menu-text-color);
}

.toggled div ul li a:hover,
.toggled div ul li a:focus,
.toggled div ul li a:active,
.toggled div ul li a:visited {
  color: var(--menu-text-color);
}

.toggled button svg {
  position: relative;
  display: flex;
  z-index: 9999;
}
